@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON CSS */
@layer base {
    * {
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        box-sizing: border-box;
    }
    .wrapper {
        @apply mx-auto w-[90%] max-w-[1440px];
    }
    img {
        @apply block w-[100%] h-[100%];
    }
    body {
        @apply min-h-full overflow-hidden;
    }
    input {
        @apply outline-none h-[45px] w-[100%] text-[16px] placeholder:text-[14px] py-[5px] text-[#111];
    }
    ul {
        @apply list-none;
    }
    li.icon {
        @apply w-[30px] h-[30px] cursor-pointer mb-[45px] last:mb-[0];
    }
    button {
        @apply w-[100%] p-[10px] cursor-pointer flex items-center justify-center text-[18px] font-[500] text-black rounded-[25px] overflow-hidden bg-grey;
    }
    *::-webkit-scrollbar {
        width: 5px;
        background-color: #1a083e;
        display: none;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #6967c3;
    }

    /* MENU HOVER ANIMATION */
    li.menu-item:hover span {
        @apply text-white;
    }
    li.menu-item:hover div {
        @apply bg-white;
    }

    .tag {
        @apply text-[14px] inline-block py-[8px] px-[12px] cursor-pointer bg-ash text-black rounded-[25px] overflow-hidden text-center hover:bg-black hover:text-white transition font-[500];
    }
    .tag.active {
        @apply text-white transition bg-black;
    }
}
