@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON CSS */
@layer base {
    * {
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        box-sizing: border-box;
    }
    .wrapper {
        @apply mx-auto w-[90%] max-w-[1440px];
    }
    img {
        @apply block w-[100%] h-[100%];
    }
    body {
        @apply overflow-x-hidden min-h-full;
    }
    input {
        @apply outline-none h-[45px] w-[100%] text-[16px] placeholder:text-[14px] py-[5px] text-[#111];
    }
    ul {
        @apply list-none;
    }
    li.icon {
        @apply w-[30px] h-[30px] cursor-pointer mb-[45px] last:mb-[0];
    }

    /* MENU HOVER ANIMATION */
    li.menu-item:hover span {
        @apply text-white;
    }
    li.menu-item:hover div {
        @apply bg-white;
    }
}
